// Font

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

// Colors 

$lightBlue: #37AFA8;

// Media Queries

$xsmall: 400px;
$small: 800px;
$medium: 1070px;

// Mixins 

@mixin unselectable {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

@mixin containerHeader {
    color: white;
    text-transform: uppercase;
    font-size: 6rem;
    padding: 1rem 3.5rem;
    border: 1px solid $lightBlue;
    position: relative;
    overflow: hidden;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(255, 255, 255);
        z-index: -1;
        transform: translateX(-100%);
        transition: 0.3s;
    }

    &:hover::before {
        transform: translateX(0);
    }
    &:hover {
        color: black;
    }
}

// HTML Reset

// Scrollbar

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: black;
}
::-webkit-scrollbar-thumb {
    background:red;
}

::-webkit-scrollbar-thumb:hover {
    background: firebrick;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: black;
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

// Sticky Menu

.sticky-menu-container{
    position: fixed;
    display: none;
    flex-flow: column;
    top: 2%;
    left: 2%;
    z-index: 1500;

    #sticky-btn{
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        border-radius: 50%;
        transition: 0.4s;
        opacity: 1;
        outline: none;
        border: 1px solid $lightBlue;
        background-color: black;
        border-bottom: none;
        border-left: none;
        transform: rotateZ(-45deg);
        i {
            font-size: 1rem;
            color: white;
            transform: rotateZ(45deg);
        }
    }

    .sticky-menu{
        position: fixed;
        height: 13rem;
        display: flex;
        flex-flow: column;
        top: calc(3rem + 2%);
        width: 6rem;
        padding: 1rem;
        transition: 0.4s;
        opacity: 0;
        transform: translateX(-200%);
        background-color: black;
        justify-content: space-around;
        border: 1px solid red;
        border-top: none;

        a {
            color: white;
            font-size: small;
        }
    }

    .sticky-menu-active{
        opacity: 1;
        transform: translateX(0);
    }

    &:has(.sticky-menu-active) > #sticky-btn {
        border-radius: 0;
        width: 6rem;
        border: 1px solid red;
        border-bottom: none;
        transform: rotateZ(0deg);
    }
}



// Navbar

.navbar {
    height: 8vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6rem;

    #hamburger-menu {
        display: none;
    }

    .logo {
        color: white;
        z-index: 9999;
    }

    .navbar-links {
        display: flex;
        align-items: center;

        .navbar-link {
            margin: 0 15%;

            &:first-child {
                margin-left: 0;
            }
            
            a {
                color: white;
                transition: 0.3s;
                font-size: small;

                &:hover {
                    color: rgb(183, 183, 183);
                }
            }
        }
    }
}

@media screen and (max-width: $small){
    .navbar {
        position: relative;

        #hamburger-menu {
            display: flex;
            color: white;
            cursor: pointer;
            @include unselectable;
        }

        .navbar-links {
            position: absolute;
            transition: 0.2s;
            transform: translateY(0);
            flex-flow: column;
            align-items: flex-start;
            top: 100%;
            @include unselectable;
            background-color: black;
            width: 100%;
            padding-left: 6rem;
            margin-left: -6rem;
            border-bottom: 1px solid rgb(70, 70, 70);
            z-index: 9998;

            .navbar-link {
                margin: 0.5rem 0;

                &:last-child {
                    margin-bottom: 1rem;
                }

                a {
                    color: rgb(255, 255, 255);
                    background-color: black;
                }
            }
        }
    }

    .hidden {
        transform: translateY(-140%) !important;
        opacity: 0;
    }  
}

// Banner 

.banner {
    display: flex;
    align-items: center;
    height: 92vh;

    .banner-content {
        color: rgb(255, 255, 255);
        padding: 0 6rem;

        h1 {
            font-size: 1.2rem;
            font-style: italic;
            font-weight: bold;
            border-bottom: 1px solid $lightBlue;
            padding-bottom: 1rem;
            min-width: 20%;
        }

        p {
            width: 35%;
            font-size: 0.8rem;
            margin-top: 1rem;
        }
    }

    .banner-links {
        position: relative;
        height: 100%;

        a {
            position: absolute;
            color: white;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 10rem;
            background-color: transparent;
            transition: 0.3s;

            span {
                color: $lightBlue;
                z-index: -1;
                font-size: 3.5rem;
                vertical-align: middle;
                margin-right: 0.6rem;
            }

            &:first-child {
                top: 65%;
                right: 0;
                color: rgb(255, 255, 255);

                
                &:hover {
                    color: $lightBlue;
                }
            }

            &:last-child {
                top: 40%;
                right: 0;
                color: rgb(255, 255, 255);

                
                &:hover {
                    color: $lightBlue;
                }
            }
        }
    }
}

@media screen and (max-width: $medium){
    .banner {
        position: relative;
        flex-flow: column;
        justify-content: center;
        gap: 6rem;
    
        .banner-content {
    
            p {
                width: 100%;
            }
        }
    
        .banner-links {
            height: auto;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
    
            a {
                font-size: 4rem;
                position: static !important;

                span {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

// Skills

.skills {
    height: 100vh;

    .skills-content {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-evenly;
        height: 100%;

        h1 {
           @include containerHeader;
        }

        .skill-sets {
            display: flex;
            justify-content: space-around;
            width: 80%;

            ul {

                li {
                    color: white;
                    margin: 2rem 0;
                    display: flex;
                    justify-content: space-between;
                    width: 250px;

                    span {

                        .fa-star, 
                        .fa-star-half-stroke {
                            color: goldenrod;
                        } 
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $medium){
    .skills {
    
        .skills-content {
            justify-content: space-around;
    
            h1 {
                font-size: 4rem;
            }
    
            .skill-sets {
                width: 95%;

                ul {
    
                    li {
                        flex-flow: column;
                        width: fit-content;

                        .skill-name {
                        
                            i{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

// Projects

.projects {
    height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;

    h1 {
        @include containerHeader;
    }

    .projects-container {
        display: flex;
        flex-flow: column;
        align-items: center;
        max-height: 55vh;
        overflow-y: scroll;
        border-right: 1px solid $lightBlue;
        border-left: 1px solid $lightBlue;
        padding: 3rem 0 0 0;

            .project-detail {
                display: flex;
                flex-flow: column;
                padding: 0 10rem;
                margin-bottom: 4rem;
                align-items: center;

                .project-number {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 100%;
                    margin-bottom: 2rem;
                }

                h2 {
                    color: rgb(255, 255, 255);
                    font-size: 6rem;
                    margin-right: 1rem;
                }

                p {
                    color: $lightBlue;

                    a{
                        color: red;
                        margin-left: 1rem;
                    }
                }

                img {
                    width: 500px;
                    height: auto;
                    align-self: center;
                }
            }
        }
}

@media screen and (max-width: $medium){
    .projects {

        h1 {
            @include containerHeader;
            font-size: 2rem;
        }
    
        .projects-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            max-height: 35vh;
            width: 80%;
            overflow-x: hidden;
    
                .project-detail {
                    display: flex;
                    flex-flow: column;
                    padding: 0 10rem;
                    margin-bottom: 4rem;
                    align-items: center;
    
                    .project-number {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 100%;
                        margin-bottom: 2rem;
                    }
    
                    h2 {
                        color: rgb(255, 255, 255);
                        font-size: 3rem;
                        margin-right: 1rem;
                    }
    
                    p {
                        color: $lightBlue;
                        font-size: 1rem;
                        text-align: center;
    
                        a{
                            color: red;
                            margin-left: 1rem;
                            font-size: 1rem;
                        }
                    }
    
                    img {
                        width: 400px;
                        height: auto;
                        align-self: center;
                    }
                }
            }
    }
}

@media screen and (max-width: $small){
    .projects {

        h1 {
            @include containerHeader;
            font-size: 4rem;
        }
    
        .projects-container {
            display: flex;
            flex-flow: column;
            align-items: center;
            max-height: 35vh;
            width: 90%;
            overflow-x: hidden;
    
                .project-detail {
                    display: flex;
                    flex-flow: column;
                    padding: 0 10rem;
                    margin-bottom: 4rem;
                    align-items: center;
    
                    .project-number {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 100%;
                        margin-bottom: 2rem;
                    }
    
                    h2 {
                        color: rgb(255, 255, 255);
                        font-size: 3rem;
                        margin-right: 1rem;
                    }
    
                    p {
                        color: $lightBlue;
                        font-size: 1rem;
                        display: block;
                        text-align: center;
    
                        a{
                            color: red;
                            margin-left: 1rem;
                            font-size: 1rem;
                        }
                    }
    
                    img {
                        width: 300px;
                        height: auto;
                        align-self: center;
                    }
                }
            }
    }
}

.cv {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    i {
        color: red;
        margin: 0 0.5rem;
    }

    h1 {
        @include containerHeader;
    }

    .titles {

        .sub-titles {
            color: white;
            margin-bottom: 1rem;

            .topic {
                color: $lightBlue;
                text-transform: uppercase;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: $small){
    .cv {
    
        h1 {
            @include containerHeader;
            font-size: 4rem;
        }

        i {
            color: red;
            margin: 0 0.3rem;
        }
    
        .titles {
    
            .sub-titles {
    
                .topic {
                    font-size: smaller;
                }

                .topic-subtitle {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media screen and (max-width: $xsmall){
    .cv {

        h1 {
            @include containerHeader;
            font-size: 4rem;
        }

        i {
            color: red;
            margin: 0 0.1rem;
        }
    
        .titles {
            padding-left: 1.4rem;
            .sub-titles {
    
                .topic {
                    font-size: smaller;
                }

                .topic-subtitle {
                    font-size: 0.7rem;
                }
            }
        }
    }
}

.contact {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;

    h1 {
        color: white;
        text-transform: uppercase;
        font-size: 6rem;
        padding: 1rem 3.5rem;
        border: 1px solid $lightBlue;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgb(255, 255, 255);
            z-index: -1;
            transform: translateX(-100%);
            transition: 0.3s;
        }

        &:hover::before {
            transform: translateX(0);
        }
        &:hover {
            color: black;
        }
    }

    div {
        display: flex;

        div {
            display: flex;
            flex-flow: column;

            margin: 0 2rem;
        }

        label {
            color: $lightBlue;
            font-size: 1.5rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
        }

        p {
            color: white;
            padding: 1rem;
            border: 1px solid $lightBlue;
            
            a {
                color: $lightBlue;
                margin-left: 1rem;
                transition: 0.3s;

                &:hover {
                    color: red;
                }
            }
        }
    }
    
}

@media screen and (max-width: $medium){
    .contact {
        height: 100vh;
        display: flex;
        flex-flow: column;
        justify-content: space-around;
        align-items: center;
    
        h1 {
            color: white;
            text-transform: uppercase;
            font-size: 3rem;
            padding: 1rem 3.5rem;
            border: 1px solid $lightBlue;
            position: relative;
            overflow: hidden;
    
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background-color: rgb(255, 255, 255);
                z-index: -1;
                transform: translateX(-100%);
                transition: 0.3s;
            }
    
            &:hover::before {
                transform: translateX(0);
            }
            &:hover {
                color: black;
            }
        }
    
        div {
            display: flex;
            flex-flow: column;
    
            div {
                display: flex;
                flex-flow: column;
            }
    
            label {
                color: $lightBlue;
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
                text-transform: uppercase;
                text-align: center;
            }
    
            p {
                color: white;
                padding: 1rem;
                border: 1px solid $lightBlue;
                margin-bottom: 1rem;
                text-align: center;
                
                a {
                    color: $lightBlue;
                    margin-left: 1rem;
                    transition: 0.3s;
    
                    &:hover {
                        color: red;
                    }
                }
            }
        }
        
    }
}

@media screen and (max-width: $xsmall){
    .contact {

        h1 {
            font-size: 2rem;
        }
    }
}